.faq__section {
  margin-top: 40px;
  height: fit-content;
  min-height: 300px;
  width: 80%;
  padding-bottom: 100px;
  .section__name {
    font-size: 18px;
    color: #fff;
  }
  .section__description {
    font-size: 12px;
    margin-top: 5px;
    color: #ffffff80;
  }
  .contacts {
    margin-top: 10px;
  }
  .questions {
    width: 100%;
    height: fit-content;

    .withdraw {
      background: linear-gradient(135deg, #cef61a 0%, #62fbcd 100%);
    }
    .comission {
      background: linear-gradient(138.01deg, #f3b33c -1.58%, #f2345d 104.27%);
    }
    .where {
      background: linear-gradient(210.96deg, #ffc60b 7.5%, #dd9b2f 92.5%);
    }
    .withdraw,
    .comission,
    .where {
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
    }
  }
}
@media (max-width: 426px) {
  .faq__section {
    width: 90%;
  }
}
